
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Controls
---------------------------------------------------------------------- */

.mixitup-control-active {
    
	color:#18CFAB;
	font-weight:bold;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}


/* Container
---------------------------------------------------------------------- */



/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}
;
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}




/* 3 Columns */
/* uSe what you Need 

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}
 
 */
 
 
/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width:25%; /*calc(100%/4 - (((4 - 1) * 1rem) / 4));*/
    }
}

/* 5 Columns */
/* uSe what you Need 
@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
}
*/